@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/2436749/how-to-add-multiple-font-files-for-the-same-font */
/* 1. no format() 
2. css3 allow one font-style each */
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-VariableFont_wght.ttf');
  font-weight: 300 700;
  font-style: normal;
}

@layer base {
  :root {
    --bkg: #f4f6fa;
    --title-main: #313e51;
    --title-sub: #626c7f;
    --box-bg: #ffffff;
    --error: #ee5454;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bkg: #313e51;
      --title-main: #ffffff;
      --title-sub: #abc1e1;
      --box-bg: #3b4d66;
      --error: #f4f6fa;
    }
  }
  :root[data-theme='dark'] {
    --bkg: #313e51;
    --title-main: #ffffff;
    --title-sub: #abc1e1;
    --box-bg: #3b4d66;
    --error: #f4f6fa;
  }
  :root[data-theme='light'] {
    --bkg: #f4f6fa;
    --title-main: #313e51;
    --title-sub: #626c7f;
    --box-bg: #ffffff;
    --error: #ee5454;
  }

  .dark-bg {
    background: url('/pattern-background-mobile-dark.svg') no-repeat top left;
  }

  .light-bg {
    background: url('/pattern-background-mobile-light.svg') no-repeat top left;
  }

  @media (min-width: 32.5rem) {
    .dark-bg {
      background: url('/pattern-background-tablet-dark.svg') no-repeat top left;
    }

    .light-bg {
      background: url('/pattern-background-tablet-light.svg') no-repeat top left;
    }
  }

  @media (min-width: 64rem) {
    .dark-bg {
      background: url('/pattern-background-desktop-dark.svg') no-repeat
        center/cover;
    }

    .light-bg {
      background: url('/pattern-background-desktop-light.svg') no-repeat
        center/cover;
    }
  }
}
