@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://stackoverflow.com/questions/2436749/how-to-add-multiple-font-files-for-the-same-font */
/* 1. no format() 
2. css3 allow one font-style each */
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-Italic-VariableFont_wght.ttf');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Rubik';
  src: url('/assets/fonts/Rubik-VariableFont_wght.ttf');
  font-weight: 300 700;
  font-style: normal;
}

.dark-bg {
  background: url('/pattern-background-mobile-dark.svg') top left no-repeat,
    #313e51;
}
.light-bg {
  background: url('/pattern-background-mobile-light.svg') top left no-repeat,
    #f4f6fa;
}

@media (min-width: 32.5rem) {
  .dark-bg {
    background: url('/pattern-background-tablet-dark.svg') no-repeat top left,
      #313e51;
  }

  .light-bg {
    background: url('/pattern-background-tablet-light.svg') no-repeat top left,
      #f4f6fa;
  }
}

@media (min-width: 64rem) {
  .dark-bg {
    background: url('/pattern-background-desktop-dark.svg') no-repeat
        center/cover,
      #313e51;
  }

  .light-bg {
    background: url('/pattern-background-desktop-light.svg') no-repeat
        center/cover,
      #f4f6fa;
  }
}
